@import './variables.scss';


body {
    background: linear-gradient(to left,#4181C1, #0D67C1);
}
.logout {
    position: absolute;
    right: 32px;
    top: 25px;
}
.loginPage {

    @media(min-width:$tablet){
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
.CommutifyLogo {
    max-width: 100%; 

    @media(min-width:$tablet){
        max-width: 50%;
    }
}
.loginButton {
    background: #004892;
    width: 172px;
    height: 86px;
    font-size: 20px;
    font-weight: bold;
    border-radius: 4%;
    text-align: center;
    border: none;
    color: #FFFFFF;
    outline: none;

    &:hover {
        color: #1DB954;
    }

    &__spotify {
        width: 94px;
        margin-top: 10px;
    }
}
.navBar {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #05284C;
    display: flex;
    justify-content: space-around;
    padding: 15px 0;

    &__icon {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .iconLink {
        text-decoration: none;
    }
    .iconText {
        margin: 0;
        color: $white;
        font-weight: bold;
        font-size: 12px;
    }
}

.userProfile {
    margin: 15px 0;

    &__pic {
        border-radius: 50%;
        height: 50px;
        width: 50px;
    }
    &__name {
        color: $white;
        text-transform: uppercase;
        font-size: 26px;
    }
    &__playlistNum {
        font-size: 18px;
    }
}
.searchDiv {
    display: flex;
    justify-content: center;
    margin-bottom: 8px;

    &__bar {
        width: 174px;
        position: relative;

        ::placeholder{
            color: black;
        }
        .searchInput {
            width: 134px;
            outline: none;
            padding: 4px;
            padding-left: 35px;
            border: 0;
            border-radius: 16px; 
        }
        .searchIcon {
            position: absolute;
            left: 5px;
            top: 3px;
        }

    }
}
.userPlaylists {
    display: flex; 
    flex-direction: column;
    align-items: center;
    margin: 0 15px 80px;

    @media (min-width: $tablet){
        flex-flow: row wrap;
        justify-content: center;
    }

}
.playlist {
    display: flex;
    flex-direction: column;
    margin: 10px 0px 20px;

    @media (min-width: $tablet){
        margin: 10px 10px 20px;
    }

    .playlistLink {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: absolute;
        text-transform: uppercase;
        border-radius: 4px;
        background-color: rgba(0.5, 0.5, 0.5, 0.5);
        width: 174px;
        height: 174px;
        text-decoration: none;
        word-break: keep-all;
        box-shadow: 0px 0px 8px #05284C
    }

    &__image {
        width: 174px;
        height: 174px; 
        border-radius: 4px;
    }
    &__name {
        font-size: 24px;
        font-weight: 800;
        color: $white;
        margin: 0 0 5px;
        text-align: center;
        max-width: 100%;
    }
    &__numOfSongs {
        display: flex;
        margin: 0;
        color: $border;
    }
}
.kebabItem {
    position: absolute;
    margin-top: 135px;
    margin-left: 5px;
    padding: 8px;
}
.deleteButton{
    width: 65px;
    height: 38px;
    background-color: white;
    border-radius: 4px;
}
.createNewButton {
    background: $Blue;
    width: 132px;
    height: 5rem;
    border-radius: 4%;
    text-align: center;
    border: none;
    position: fixed;
    bottom: 15%;
    right: 4%;
    color: $white;
    font-size: 17px;
    font-weight: 700;
    outline: none;

    &:hover {
        background: $DarkBlue;
    }
}
.embed-container {
    position: relative;
    padding-bottom: 80px;
    height: 0;
    max-width: 100%;
    height: auto;
    margin: 6px 5px;
}
    .embed-container iframe,
    .embed-container object,
    .embed-container embed {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

.playlistInfo {
    display: flex;

    &__coverArt {
        width: 153px;
        height: 224px;
        margin: 10px;
        border-radius: 8px;
    }
    .playlistDetails {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-evenly;
        text-align: left;
        color: #05284C;
        font-weight: bold;
        word-break: keep-all;

        &__title {
            font-size: 24px;
            font-weight: 800;
            color: $white;
        }
        &__descript, &__length, &__username {
            margin-top: 0;
            font-size: 14px;
            font-weight: 800;
        }
    }
}
.tracks {
    margin-bottom: 80px;
}
